*{
    margin:0;
    padding:0;
    font-family:"poppins",sans-serif;
    box-sizing: border-box;
}

.header{
    height: 500px;
    width: 1520px;
    padding: 0 8%;
    background-color: black;
    position:relative;
    

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 100px;
}
.nav-links{
    padding: 28px 0;

}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color:white;
    padding: 5px 0;
    position: relative;
}
.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width  0.5s;


}
.nav-links li a:hover::after{
    width: 100%;

}
.content{
    position: absolute;
    left: 50%;
    top:  50%;
    width:90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-image: url("back1.webp"); 
    background-position: center;

}
.content h1{
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 20px;
}
.content form{
    background: #fff;
    padding:10px;
    border-radius: 8px ;
    display: flex;
}
.content form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
}
.content form button{
    background: linear-gradient(45deg,#5f0c8b,#31aee3);
    color: #fff;
    padding: 15px 40px;
    border: none;
    border-radius: 6px ;
    cursor: pointer;

}
 @import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");

 .toolc{
     background-color: #fff;
     width: 1500px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     justify-content: center;
     align-items: center;
     padding-left: 50px;
 }

 .cbox{
     position: relative;
     width: 800px;
     height: 400px;
     background: #fff;
     box-shadow: 0 30px 30px rgba(0,0,0,0.5) ;
     
     margin-right: 20px;
     display: flex;
     flex: 3;
     align-items: center;
     


 }
 .cbox .imgb{
   position: absolute;
   top: 0;
   left: 0;
   left: 0;
   width: 100%;
   height: 100%;
   align-items: center;

 }
 .cbox .imgb img{
     position:absolute;
     top: 30px;
     left: 1px;
     width: 100%;
     height: 50%;
     object-fit: cover;
 }
 .cbox:hover .imgb img{
     opacity:0;
     
 }
 .cbox .ccontent{
     position: absolute;
     bottom: 20px;
     left: 10%;
     width: 80%;
     height: 60px;
     background: black;
     transition: 0.5s;
     overflow: hidden;
     padding: 20px;
     box-sizing: border-box;

 }
 .cbox:hover .ccontent{
     height:100%;
     width:100%;
     bottom:0;
     left: 0;

 }
 .cbox:hover .ccontent h3,p, a{
     color:white;
 }
 .cox:hover .ccontent p{
     opacity: 1;
     transition-delay: 0.5s;
 }
 td{
    padding:10px;
    
}
 
  
  
  
 