@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
    margin-left: 200px; 
   
    

}
.container .card1{
    position:relative;
    min-width: 200px ;
    height: 200px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                5px 5px 5px rgba(0,0,0,0.05),
                -5px -5px 5px rgba(255,255,255,0.5);

    border-radius: 15px;
    margin: 30px;

}
.container .card1 .box{
    position:relative;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #669dc5;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.container .card1:hover .box{
 transform: translateY(-50px);
 box-shadow: 0 10px 40px rgba(0,0,0,0.4);
 background: linear-gradient(45deg,#0c8b56,#31aee3);

}
.container .card1 .box .content{
    padding: 20px;
    text-align: center;
}
.container .card1 .box .content h2{
    position:absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0,0,0,0.02);
    transition: 0.5s;
    pointer-events: none;
}
.container .card1:hover .box .content h2{
    color: rgba(240, 226, 226, 0.05);
}
.container .card1:hover .box .content h3{
    font-size: 1.1em;
    color:rgb(0, 0, 0);
    z-index: 1;
    transition: 0.5s;

}
.container .card1 .box .content p{
    color: black;
}
.container .card1:hover .box .content p{
    font-size: 1em;
    font-weight: 300;
    color:rgb(242, 235, 235);
    z-index: 1;
    transition: 0.5s;
}
.container .card1 .box .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: grey;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.container .card1:hover .box .content a{
    background: #ff568f;
}
ul.a{
    color: #fff;
    list-style-type: circle;
}

